.isim-radio-button {
    display: flex;
    margin-left: 10px;
}

.kelimeler {
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.myInput {
    float: left;
    width: 250px;
}

.myRow {
    margin-bottom: 20px;
    text-align: left;
}

.myPanel{
    margin-top: 10px;
    width: 1000px;
    margin-left: 440px;
    text-align: left;
    font-size: 16px;
}

.submitButton{
    text-align: right;
}

.uyari{
    margin-top: 20px;
    width: 1000px;
    margin-left: 430px;
    text-align: left;
    font-size: 16px;
    color: #e08000;
    font-weight: bold;
}

.basarili {
    font-size: calc(13px + 2vmin);
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

.thanks {
    font-size: calc(13px + 2vmin);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
